.header-image-home {
  position: relative;
  background-image: url(../../../public/img_home_1920x1080.jpg);
  background-repeat: no-repeat;
  height: 800px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -200px;
  background-color: black;
}

.laptop {
  position: absolute;
  right: 20px;
  bottom: -90px;
}

@media (width <= 980px) {
  .header-image-home {
    position: relative;
    /* background-image: url(../../../public/hp-background-image-purple.png); */
    background-image: url(../../../public/img_home_1200x1080.jpg);
    background-repeat: no-repeat;
    height: 720px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -200px;
    background-color: black;
  }
  .laptop {
    display: none;
  }
}

