.header-image-work {
  position: relative;
  background-image: url(../../../public/img_home_1920x1080.jpg);
  background-repeat: no-repeat;
  height: 800px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -200px;
  background-color: black;
  height: 230px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.contact-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.sub-header-text {
  text-align: left;
  color: #6A6A6A;
  font-size: 36px;
  font-weight: 600;
  margin: 30px 10px;
}

.contact-left, .contact-right {
  margin: 10px;
}

.contact-right {
  width: 50%;
}

.contact-left {
    width: 50%;
    margin-right: 30px;
    transition: transform 0.2s;
    height: auto;
}

// .work-item-left:hover {
//   transform: scale(1.05);
// }



.contact-header-text {
  color: #25B6CA;
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0;
  text-align: left;
}

@media (width <= 768px) {
  .contact-container {
    display: flex;
    flex-direction: column;
  }
  
  .contact-left {
    width: 100%;
  }
  .contact-right {
    width: 100%;
  }
}

@media (width <= 1080px) {
  .contact-container {
    display: flex;
    flex-direction: column;
  }
  .contact-left {
    width: 100%;
  }
  .contact-right {
    width: 100%;
  }
}
