.header-image-contact {
  background-image: url(../../../public/hp-background-image-purple.png);
  background-repeat: no-repeat;
  height: 300px;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
