.app {
  text-align: left;
  // font-family: "Inter", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  text-align: center;
  width: 100%;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.app-header {
  position: relative;
  height: 74px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px 100px 0 110px;
  color: white;
  z-index: 1000;
  text-shadow:  3px 3px rgba(0,0,0,0.8);
}

.app-header a {
  text-decoration: none;
  text-shadow:  3px 3px rgba(0,0,0,0.8);
}

.app-link {
  color: #61dafb;
}

.app-logo {
  font-family: "Roboto Mono", monospace;
  height: 40vmin;
  pointer-events: none;
  text-align: left;
  color: #25B6CA;
  .raays {
    font-weight: 600;
    font-size: 45px;
  }
}

.header-text {
  display: flex;
  margin: 300px 0 0 100px;
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 460px;
}

.header-text-italic {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: italic;;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  padding: 20px 100px 0 100px;
}

.content-main {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
  width: 100%;
}

.content-main-left,
.content-main-right {
  padding: 10px;
  margin: 0 20px 0 40px;
  width: 50%;
}

.content-main-left {
  padding: 10px;
  margin-right: 30px;
}

@media (width <= 1160px) {
  .header-text {
    margin: 250px 0 0 40px;
  }

  .app-header {
    padding: 20px 40px 0 40px;
  }
  .content-container {
    padding: 20px 30px 0 30px;
  }
}

@media (width <= 760px) {
  h1 {
    font-size: 36px;
  }
  .header-text {
    margin: 250px 0 0 40px;
    width: 350px;
  }
  .content-main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }

  .content-main-left,
  .content-main-right {
  padding: 10px;
  margin: 0 20px 0 40px;
  width: 100%;
}
}

